body{
    background-image:url(yugi.jpg);
    background-attachment: cover;
    background-size: cover;
    background-repeat: cover;
    background-color: cover;
}
head {
    font-family: Arial, Helvetica, sans-serif;
}
