body{
    background-image:url(yugi.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
head {
    font-family: Arial, Helvetica, sans-serif;
}
